{% extends 'base.html.twig' %}

{% block title %}Edit TenseName{% endblock %}

{% block body %}
    <h1>Edit TenseName</h1>

    {{ include('tense_name/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tense_name_index') }}">back to list</a>

    {{ include('tense_name/_delete_form.html.twig') }}
{% endblock %}
