{% extends 'base.html.twig' %}

{% block title %}Backend{% endblock %}

{% block body %}
    <h1>Backend index</h1>

    <a href="{{ path('language_index' ) }}">Languages Management</a>
    <br>
    <a href="{{ path('tense_name_index' ) }}">Tenses Management</a>
    <br>
    <a href="{{ path('vocabulary_index' ) }}">Vocabulary Management</a>
    <br>
    <a href="{{ path('tense_index' ) }}">Tense Management</a>
{% endblock %}
