{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
        <div class="navbar">
        <a href="vocabulaire.php">Vocabulaire</a>
        <a href="verbs.php">Verbs</a>
        <a href="stats.php">Stats</a>
        </div>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="content">
        <br>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
