{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vocabulary Quiz</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    
    {% block extra_header %}{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <!--<meta name="viewport" content="width=720, initial-scale=1"> -->
</head>
<body>

<div class="header">
  <h1>Vocabulary Quiz</h1>
  <p>A language learning tool.</p>
</div>

<div class="navbar">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <a href="/random">Vocabulary</a>
  <a href="#">Verbs</a>
  <a href="/stats">Stats</a>
  <a href="/logout" class="right">Logout</a>
  <a class="right">Logged in as: {{ app.user.name }}</a>
  

  <!--<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>-->
</div>

{% else %}
  <a href="#">Opinions</a>
  
  <a href="/login" class="right">Login</a>
  <a href="/register" class="right">Create Account</a>
{% endif %}
</div>

{% block body %}{% endblock %}

<div class="footer">
  <h2>FMaj7 2019</h2>
</div>

</body>
</html>
