{# templates/vocabulary.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Vocabulary{% endblock %}

{% block extra_header %}

{% endblock %}

{% block body %}

<div class="row">
  <div class="main">
  welcome
  </div>

  <div class="side">
    <h2>Options</h2>
    <h5>Sorting options</h5>
  </div>
</div>

{% endblock %}
